@using FinalProjetTestOne.Models.Dto
@using FinalProjetTestOne.Models.User
@using FinalProjetTestOne.Models.Relations
@model UpdateTaskDto
@{
    ViewData["Title"] = "EditTask";
}


<div class="card form-card">
    <div class="card-header card-header-success">
        <h4 class="card-title">Edit Task</h4>
        <p class="card-category"></p>
    </div>
    <div class="card-body">
        <form asp-action="EditTask" method="post"  class="border px-3 py-3">

            <div class="row">
                <div class="col-md-12">
                    <input type="hidden" asp-for="Id"/>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="bmd-label-floating text-primary" asp-for="Title">Title</label>
                        <input type="text" asp-for="Title" class="form-control">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="bmd-label-floating text-primary" asp-for="Description">Descriptione</label>
                        <textarea class="form-control" asp-for="Description" id="Description" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="team-leader">Team Leader</label>
                        <select class="form-control" name="DeveloperId" id="team-leader">
                            @foreach (var item in (List<ProjectDeveloper>)ViewBag.Developers)
                            {
                                <option value="@item.DeveloperId">@item.Developer.FirstName  @item.Developer.LastName</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success pull-right">Edit</button>
            <div class="clearfix"></div>
        </form>
    </div>
</div>